/* Navigation */
nav {
    background-color: #333;
    margin-bottom: 1.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: inline-block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #555;
    font-weight: 600;
}


/* Table styles */

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #ececec;
}

.date-section {
    margin-bottom: 20px;
}

.date-header {
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 10px;
    text-align: center;
}

/* Style table sections */
.section-food th {
    text-align: center;
    font-size: 1.2rem;
    background-color: #d1f4ca;
}

.section-study th {
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(207, 207, 242);
}